<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title></title>
</head>
	<meta charset="utf-8">
<body>
	<h3> 
Os investigadores paranormais Ed e Lorraine Warren mantêm a boneca Annabelle trancada em uma sala de artefatos em sua casa. No entanto, em uma noite terrível, Annabelle desperta outros espíritos malignos e ameaça a jovem filha do casal e suas amigas.  </h3> <br> <br>
 
 	 <table cellspacing="5" cellpadding="10">
 	<tr> 
 		<td> <img src="{% static 'fotos/foto6.jpg'%} " width="250px" height="250px" ></td> <br><br>
 		<td> <h3>Anabelle 3.</h3> </td> </tr></table> </tr>
 	 </table>

 	<h4> Duração: 1h 55min  </h4>
 	<h4> Classificação: 16 anos </h4>
 	<h4> Gênero: terror </h4>

</body>
</html>













