<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title></title>
</head>
	<meta charset="utf-8">
<body>
	<h3> O capitão da força especial da Polícia Militar do Rio de Janeiro treina dois recrutas novatos para que possam sucedê-lo. </h3> <br> <br>
 
 	 <table cellspacing="5" cellpadding="10">
 	<tr> 
 		<td> <img src="{% static 'fotos/foto1.jpg'%} " width="250px" height="250px" ></td> <br><br>
 		<td> <h3>Tropa de Elite: missão dada é missão cumprida.</h3> </td> </tr></table> </tr>
 	 </table>

 	<h4> Duração: 1h 55min  </h4>
 	<h4> Classificação: 16 anos </h4>
 	<h4> Gênero: ação </h4>

</body>
</html>