<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title></title>
	<meta charset="utf-8">
</head>
<body>
	<h3> Woody, Buzz Lightyear e o resto da turma embarcam em uma viagem com Bonnie e um novo brinquedo chamado Forky. A aventura logo se transforma em uma reunião inesperada quando o ligeiro desvio que Woody faz o leva ao seu amigo há muito perdido, Bo Peep. </h3> <br> <br>
 
 	 <table cellspacing="5" cellpadding="10">
 	<tr> 
 		<td> <img src="{% static 'fotos/foto2.jpg'%} " width="250px" height="250px" ></td> <br><br>
 		<td> <h3>Toy Story 4</h3> </td> </tr></table> </tr>
 	 </table>

 	<h4> Duração: 1h 40min  </h4>
 	<h4> Classificação: livre para todos os públicos </h4>
 	<h4> Gênero: animação </h4>

</body>
</html>