<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title></title>
</head>
	<meta charset="utf-8">
<body>
	<h3> Holt Farrier é uma ex-estrela de circo que retorna da guerra e encontra seu mundo virado de cabeça para baixo. O circo em que trabalhava está passando por grandes dificuldades, e ele fica encarregado de cuidar de um elefante recém-nascido, cujas orelhas gigantes fazem dele motivo de piada.   </h3> <br> <br>
 
 	 <table cellspacing="5" cellpadding="10">
 	<tr> 
 		<td> <img src="{% static 'fotos/foto5.jpg'%} " width="250px" height="250px" ></td> <br><br>
 		<td> <h3>Dumbo.</h3> </td> </tr></table> </tr>
 	 </table>

 	<h4> Duração: 1h 55min  </h4>
 	<h4> Classificação: livre </h4>
 	<h4> Gênero: aventura </h4>

</body>
</html>