<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title></title>
</head>
	<meta charset="utf-8">
<body>
	<h3> Após Thanos eliminar metade das criaturas vivas, os Vingadores têm de lidar com a perda de amigos e entes queridos. Com Tony Stark vagando perdido no espaço sem água e comida, Steve Rogers e Natasha Romanov lideram a resistência contra o titã louco.  </h3> <br> <br>
 
 	 <table cellspacing="5" cellpadding="10">
 	<tr> 
 		<td> <img src="{% static 'fotos/foto4.jpg'%} " width="250px" height="250px" ></td> <br><br>
 		<td> <h3>Vingadores.</h3> </td> </tr></table> </tr>
 	 </table>

 	<h4> Duração: 1h 55min  </h4>
 	<h4> Classificação: 16 anos </h4>
 	<h4> Gênero: ação </h4>

</body>
</html>