<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title></title>
</head>
	<meta charset="utf-8">
<body>
	<h3> Star Wars é uma franquia do tipo space opera estadunidense criada pelo cineasta George Lucas que conta com uma série de oito filmes de fantasia científica e dois spin-offs</h3> <br> <br>
 
 	 <table cellspacing="5" cellpadding="10">
 	<tr> 
 		<td> <img src="{% static 'fotos/foto8.jpg'%} " width="250px" height="250px" ></td> <br><br>
 		<td> <h3>Star Wars.</h3> </td> </tr></table> </tr>
 	 </table>

 	<h4> Duração: 1h 55min  </h4>
 	<h4> Classificação: 16 anos </h4>
 	<h4> Gênero: fantasia científica </h4>

</body>
</html>